<div bg-img src="party.jpg" class="img-fluid" >
  <div class="container">
    <div class="row">
      <center><h1 class="p-5">Event Handler</h1></center>
      <!-- <div class="card" style="width: 18rem;"> -->
        <div class="col-4" >

          <img src="<%= asset_path("party.jpg") %> " class="card-img-top" class="rounded"  >
          <div class="card-body">
            <div class="p-3 mb-2  text-white" style="background-color:black;" class="rounded" >
              <h5 class="card-title">Party</h5>
              <p class="card-text">Party Event</p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <img src="<%= asset_path("confrence.jpg") %>" class="card-img-top">
          <div class="card-body">
            <div class="p-3 mb-2  text-white" style="background-color:black;">
              <h5 class="card-title">Conference</h5>
              <p class="card-text">Conference Event make you feel better</p>
            </div>
          </div>
        </div>

        <div class="col-4">
          <img src="<%= asset_path("music_con.jpeg") %>" class="card-img-top">
          <div class="card-body">
            <div class="p-3 mb-2  text-white" style="background-color:black;">
              <h5 class="card-title">Music</h5>
              <p class="card-text">Lets you dance on Music.</p>
            </div>  
          </div>
        </div>
    </div>
  </div>
<!-- </div> -->
