	<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

</head>


<body>
<h1 class="p-5 "><center>WellCome to Eventer hub </center></h1>
</body>