
body{
	background-color:#ffffe6;
	font-family: 'Josefin Sans', sans-serif;

}
.navbar{
    background: linear-gradient(to right, #33ccff 0%, #cc33ff 100%);
}
a.btn:hover{;*/

	background-color:lavender;
	box-shadow: black;

}

.form-group{
	background-color:red;
	box-shadow: black;
	
}
.btn {
/*	color: lightblue;*/
}


